<!DOCTYPE html>
	<html lang="en">
	
		<head>
			<meta content="text/html; charset=UTF-8">
			<link rel="stylesheet" href="./css/font-awesome.css">
			<link rel="stylesheet" href="./css/fontawesome.min.css">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
			<title>Courses Offered</title>
			<meta name="keywords" content="Jobs in Bangalore. Apply to number of job vacancies, get a job relevant to your profile. Create free resume and job alerts now.">
			<link href="./css/style1.css" rel="stylesheet" type="text/css">        

		</head>
		
		<body class="footer-sticky-btm">
        			
				<div class="catogery_title">
					<img src="./images/bigdata.jpg">						
					<div class="container title_box_cat">
						<h1>Big Data Certification Courses</h1>
						<span>Sed ut perspiciatis unde omnis iste </span>
					</div>
				</div>
				<section class="container-fluid breadcrum_new_box">
					<div class="container">
						<div class="col-lg-8 col-md-8 col-sm-7 col-xs-12 no-padding leftbreadsec">
							<ol class="newbread_new" itemscope="" itemtype="">
								<li itemprop="itemListElement" itemscope="" itemtype="">
									<a itemprop="item" href="" class="">
										<span itemprop="name" class="ga_learningPath" data-eventcategory="CLP" data-eventaction="Breadcrumb - Home">HOME </span>
										<i>&nbsp;&nbsp;&nbsp;&nbsp;|</i>
										<meta itemprop="position" content="1">
									</a>
								</li>
								<li itemprop="itemListElement" itemscope="" itemtype="">
									<a itemprop="item" href="" class="breadactive">
										<span itemprop="name" class="ga_learningPath" data-eventcategory="CLP" data-eventaction="Breadcrumb - Big Data">BIG DATA</span>
										<meta itemprop="position" content="2">
									</a>
								</li>
							</ol>
						</div>
					</div>
				</section>
				<section class="container-fluid no-padding" style="background: linear-gradient(to left, rgb(171, 186, 171), rgb(255, 255, 255));">    
					<div class="catogery_box">   
						<div class="catogery_title_slide container">
							<div class="list_cat list_cat_top">
								<ul class="nav nav-tabs tabscat" id="tabscat">
									 <li><a class="active" href="">Big Data</a></li> 
									 <li><a href="">BI and Visualization</a></li>
									 <li><a href="">Blockchain</a></li> 
									 <li><a href="">Cloud Computing</a></li>
									 <li><a href="">DevOps</a></li>
									 <li><a href="">Programming &amp; Frameworks</a></li>
									 <li><a href="">Software Testing</a></li> 
								</ul>
							</div>
						</div>
					</div>
					<div class="container-fluid course-name-clp clp-title-doc course-name-clp1" style="box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.28);margin-top:0.3%;">	
						<div class="container course-title-container">
							<div class="col-lg-7 col-md-7 col-sm-7 col-xs-10 no-padding course-title-div">
								<h1 class="title-div"> Big Data</h1>
							</div>                
						</div>
					</div>					
					<div class="container info_about_cat">
						<p class="more">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
					</div>
						<div class="container master_pro_box">
							<h3 class="block_title_box">Masters Program</h3>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding master_section_box">
								<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 no-padding">    
									<div class="master_course">
										<div class="master_cour_img"></div>
										<div class="master_cour_info ">
											<h2>Big Data Masters Program</h2>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
											<a href=""><button>View Details</button></a>
										</div>
									</div>
								</div>
                            </div>
						</div>
						<div class="container master_pro_box">
							<h3 class="block_title_box">Certification Courses</h3>
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding course_title_box">
									<div class="box_cour">
										<a href="" data-coursetitle="Apache Kafka Certification Training">
											<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 no-padding course_tile" style="width: auto;background: linear-gradient(to right, rgb(252, 74, 26), rgb(247, 183, 51));">
												<div class="course_graphic">
													<img src="./images/co_img_510_1512977201.png" alt="">  
												</div>
												<div class="course_title">
													Apache Kafka Certification Training                                    
												</div>
												<div class="course_rating">
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i> 
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i> 
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i> 
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i> 
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
												</div>
												<div class="course_value clearfix">
                                                     <span class="pull-right after_discount"><i class="fa fa-inr"> </i> 17,795</span>
                                                </div>
											</div>
										</a>
									</div>
									<div class="box_cour">
										<a href="" data-coursetitle="Apache Spark and Scala Certification Training">
											<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 no-padding course_tile" style="width: auto;background: linear-gradient(rgb(255, 0, 204), rgb(51, 51, 153));;">
												<div class="course_graphic">
													<img src="./images/co_img_540_1515735970.png" alt="">                                    
												</div>
												<div class="course_title">
													Apache Spark and Scala Certification Training                                    
												</div>
												<div class="course_rating">
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i> 
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i> 
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i> 
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i> 
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>                                     
												</div>
												<div class="course_value clearfix">
                                                    <span class="pull-right after_discount"><i class="fa fa-inr"> </i> 21,995</span>
                                                </div>
											</div>
										</a>
									</div>
									<div class="box_cour">
										<a href="" data-coursetitle="Apache Solr Certification Training">
											<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 no-padding course_tile" style="width: auto;background: linear-gradient(to top, rgb(26, 42, 108), rgb(178, 31, 31), rgb(253, 187, 45));">
												<div class="course_graphic">
													<img src="./images/co_img_61_1504780925.png" alt="">
												</div>
												<div class="course_title">
													Apache Solr Certification Training                                   
												</div>
												<div class="course_rating">
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i> 
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i> 
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i> 
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i> 
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i> 
												</div>
												<div class="course_value clearfix">
                                                    <span class="pull-right after_discount"><i class="fa fa-inr"> </i> 8,899</span>
                                                </div>
											</div>
										</a>
									</div>
									<div class="box_cour">
										<a href="" data-coursetitle="Apache Storm Certification Training">
											<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 no-padding course_tile" style="width: auto;background: linear-gradient(to right, rgb(34, 193, 195), rgb(253, 187, 45));">
												<div class="course_graphic">
													<img src="./images/Apache-Storm.png" alt="">
												</div>
												<div class="course_title">
													Apache Storm Certification Training                                    
												</div>
												<div class="course_rating">
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i> 
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i> 
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
												</div>
												<div class="course_value clearfix">
                                                    <span class="pull-right after_discount"><i class="fa fa-inr"> </i> 8,899</span>
                                                </div>
											</div>
										</a>
									</div>
                                    <div class="box_cour">
										<a href="" data-coursetitle="Big Data Hadoop Certification Training ">
											<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 no-padding course_tile" style="width: auto;background: linear-gradient(rgb(0, 0, 0), rgb(229, 0, 141), rgb(255, 7, 11));">
												<div class="course_graphic">
													<img src="./images/co_img_523_1513939691.png" alt="">
												</div>
												<div class="course_title">
													Big Data Hadoop Certification Training 
												</div>
												<div class="course_rating">
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i> 
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i> 
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i> 
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i> 
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>                                    
												</div>
												<div class="course_value clearfix">
													<span class="pull-right after_discount"><i class="fa fa-inr"> </i> 21,995</span>
												</div>
											</div>
										</a>
									</div>
									<div class="box_cour">
										<a href="" data-coursetitle="Comprehensive Pig Certification Training">
											<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 no-padding course_tile" style="width: auto;background: linear-gradient(to top, rgb(58, 28, 113), rgb(215, 109, 119), rgb(255, 175, 123));">
												<div class="course_graphic">
													<img src="./images/co_img_124_1504782194.png" alt=""> 
												</div>
												<div class="course_title">
													Comprehensive Pig Certification Training                                    
												</div>
												<div class="course_rating">
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i> 
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i> 
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i> 
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i> 
													<i class="fa fa-star-o icon-fa-star-empty" aria-hidden="true"></i>
												</div>
												<div class="course_value clearfix">
                                                    <span class="pull-right after_discount"><i class="fa fa-inr"> </i> 6,999</span>
                                                </div>
											</div>
										</a>
									</div>
									<div class="box_cour">
										<a href="" data-coursetitle="Comprehensive Hive Certification Training">
											<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 no-padding course_tile" style="width: auto;background: linear-gradient(to top, rgb(40, 60, 134), rgb(69, 162, 71));">
												<div class="course_graphic">
													<img src="./images/co_img_126_1504784405.png" alt="">
												</div>
												<div class="course_title">
													Comprehensive Hive Certification Training                                    
												</div>
												<div class="course_rating">
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i> 
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
												</div>
												<div class="course_value clearfix">
                                                    <span class="pull-right after_discount"><i class="fa fa-inr"> </i> 6,999</span>
                                                </div>
											</div>
										</a>
									</div>
									<div class="box_cour">
										<a href="" data-coursetitle="Comprehensive HBase Certification Training">
											<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 no-padding course_tile" style="width: auto;background: linear-gradient(to left, rgb(192, 57, 43), rgb(142, 68, 173));">
												<div class="course_graphic">
													<img src="./images/co_img_127_1504782015.png" alt="">
												</div>
												<div class="course_title">
													Comprehensive HBase Certification Training                                    
												</div>
												<div class="course_rating">
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i> 
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
												</div>
												<div class="course_value clearfix">
                                                    <span class="pull-right after_discount"><i class="fa fa-inr"> </i> 6,999</span>
                                                </div>
											</div>
										</a>
									</div>
									<div class="box_cour">
										<a href="" data-coursetitle="Comprehensive MapReduce Certification Training">
											<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 no-padding course_tile" style="width: auto;background: linear-gradient(to top, rgb(235, 87, 87), rgb(0, 0, 0));">
												<div class="course_graphic">
													<img src="./images/compmapreduce.png" alt=""> 
												</div>
												<div class="course_title">
													Comprehensive MapReduce Certification Training                                    
												</div>
												<div class="course_rating">
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i> 
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i> 
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i> 
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i> 
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i> 
												</div>
												<div class="course_value clearfix">
                                                    <span class="pull-right after_discount"><i class="fa fa-inr"> </i> 7,999</span>
                                                </div>
											</div>
										</a>
									</div>
                                     <div class="box_cour">
										<a href="" data-coursetitle="ELK Stack Training &amp; Certification">
											<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 no-padding course_tile" style="width: auto;background: linear-gradient(to right, rgb(48, 232, 191), rgb(255, 130, 53));">
												<div class="course_graphic">
													<img src="./images/co_img_488_1507612233.png" alt=""> 
												</div>
												<div class="course_title">
													ELK Stack Training &amp; Certification                                   
												</div>
												<div class="course_rating">
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i> 
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i> 
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i> 
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i> 
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i> 
												</div>
												<div class="course_value clearfix">
                                                    <span class="pull-right after_discount"><i class="fa fa-inr"> </i> 19,995</span>
                                                </div>
											</div>
										</a>
									</div>
									<div class="box_cour">
										<a href="" data-coursetitle="Hadoop Administration Certification Training  ">
											<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 no-padding course_tile" style="width: auto;background: linear-gradient(to left, rgb(195, 55, 100), rgb(29, 38, 113));">
												<div class="course_graphic">
													<img src="./images/co_img_251_1501838442.png" alt=""> 
												</div>
												<div class="course_title">
													Hadoop Administration Certification Training                                      
												</div>
												<div class="course_rating">
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i> 
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i> 
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
												</div>
												<div class="course_value clearfix">
                                                    <span class="pull-right after_discount"><i class="fa fa-inr"> </i> 17,795</span>
                                                </div>
											</div>
										</a>
									</div>
									<div class="box_cour">
										<a href="" data-coursetitle="MapReduce Design Patterns Certification Training">
											<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 no-padding course_tile" style="width: auto;background: linear-gradient(to left, rgb(58, 97, 134), rgb(137, 37, 62));">
												<div class="course_graphic">
													<img src="./images/co_img_182_1504781866.png" alt=""> 
												</div>
												<div class="course_title">
													MapReduce Design Patterns Certification Training                                    
												</div>
												<div class="course_rating">
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i> 
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i> 
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i> 
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i> 
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
												</div>
												<div class="course_value clearfix">
                                                    <span class="pull-right after_discount"><i class="fa fa-inr"> </i> 4,999</span>
                                                </div>
											</div>
										</a>
									</div>                                                                                            
                                    <div class="box_cour">
										<a href="" data-coursetitle="Mastering Apache Ambari Certification Training">
											<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 no-padding course_tile" style="width: auto; background: linear-gradient(to left, rgb(233, 100, 67), rgb(144, 78, 149));">
												<div class="course_graphic">
													<img src="./images/ambari1.png" alt="">
												</div>
												<div class="course_title">
													Mastering Apache Ambari Certification Training                                    
												</div>
												<div class="course_rating">
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i> 
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i> 
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i> 
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i> 
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i> 
												</div>
												<div class="course_value clearfix">
                                                    <span class="pull-right after_discount"><i class="fa fa-inr"> </i> 6,999</span>
                                                </div>
											</div>
										</a>
									</div> 
									<div class="box_cour">
										<a href="" data-coursetitle="Splunk Power User &amp; Admin Certification Training">
											<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 no-padding course_tile" style="width: auto;background: linear-gradient(to top, rgb(33, 150, 243), rgb(244, 67, 54));">
												<div class="course_graphic">
													<img src="./images/co_img_512_1512200339.png" alt="">
												</div>
												<div class="course_title">
													Splunk Power User &amp; Admin Certification Training                                 
												</div>
												<div class="course_rating">
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i> 
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i> 
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i> 
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>
													<i class="fa fa-star icon-fa-star-full" aria-hidden="true"></i>  
												</div>
												<div class="course_value clearfix">
                                                    <span class="pull-right after_discount"><i class="fa fa-inr"> </i> 17,795</span>
                                                </div>
											</div>
										</a>
									</div>           									
                                </div>
							</div>
						</div>
						<div class="container-fluid advantage_edu_box">
							<div class="container no-padding">
								<span>ICZone Benefit</span>
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 advantage_sub_box">
										<div class="ico">
											<i class="fa fa-diamond"></i>
										</div>	
										<div class="info">
											<h4>Neque porro quisquam</h4>
											<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 advantage_sub_box">
										<div class="ico">
											<i class="fa fa-diamond"></i>
										</div>	
										<div class="info">
											<h4>Neque porro quisquam</h4>
											<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 advantage_sub_box">
										<div class="ico">
											<i class="fa fa-diamond"></i>
										</div>	
										<div class="info">
											<h4>Neque porro quisquam</h4>
											<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 advantage_sub_box">
										<div class="ico">
											<i class="fa fa-diamond"></i>
										</div>	
										<div class="info">
											<h4>Neque porro quisquam</h4>
											<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 advantage_sub_box">
										<div class="ico">
											<i class="fa fa-diamond"></i>
										</div>	
										<div class="info">
											<h4>Neque porro quisquam</h4>
											<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 advantage_sub_box">
										<div class="ico">
											<i class="fa fa-diamond"></i>
										</div>	
										<div class="info">
											<h4>Neque porro quisquam</h4>
											<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
										</div>
									</div>
								</div>	
							</div>				
						</div>

						<div class="container-fluid contact_box_new">
							<div class="container">
								<span>Need help?</span>
								<form id="category_inquiry" method="post" class="form_box bv-form" novalidate="novalidate">
									<button type="submit" class="bv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
									<div class="formwrap">
										<input type="hidden" name="clp_version" value="">
										<input type="hidden" name="offer_id" value="">
										<input type="hidden" name="data[Feedback][course_id]" value="100">
										<input type="hidden" name="data[Feedback][course_slug]" value="no-course">
										<input class="query_course_name" type="hidden" name="data[Feedback][course_name]" value="No Course">
										<input type="hidden" name="data[Feedback][pageurl]" value=""> 
										<input type="hidden" name="data[Feedback][auto_popup]" value="Big Data-Category Page Inquire Form"> 
										<div class="form-group form-group-name pad_right col-lg-6 col-md-6 col-sm-6 col-xs-12 no-padding">
											<input type="text" class="form-control" name="data[Feedback][first_name]" value="" placeholder="First Name *" data-bv-field="data[Feedback][first_name]">
											<small class="help-block" data-bv-validator="notEmpty" data-bv-for="data[Feedback][first_name]" data-bv-result="NOT_VALIDATED" style="display: none;">First Name is required.</small><small class="help-block" data-bv-validator="regexp" data-bv-for="data[Feedback][first_name]" data-bv-result="NOT_VALIDATED" style="display: none;">First Name is required.</small><small class="help-block" data-bv-validator="stringLength" data-bv-for="data[Feedback][first_name]" data-bv-result="NOT_VALIDATED" style="display: none;">The First name must be less than 50 characters long</small>
										</div>
										<div class="form-group form-group-lastname pad_left col-lg-6 col-md-6 col-sm-6 col-xs-12 no-padding">
											<input type="text" class="form-control" name="data[Feedback][last_name]" value="" placeholder="Last Name">
											<small class="help-block" data-bv-validator="notEmpty" data-bv-for="data[Feedback][last_name]" data-bv-result="NOT_VALIDATED" style="display: none;">Last Name is required.</small><small class="help-block" data-bv-validator="regexp" data-bv-for="data[Feedback][last_name]" data-bv-result="NOT_VALIDATED" style="display: none;">Last Name is required.</small><small class="help-block" data-bv-validator="stringLength" data-bv-for="data[Feedback][last_name]" data-bv-result="NOT_VALIDATED" style="display: none;">The Last name must be less than 20 characters long</small>
										</div>
										<div class="form-group form-group-email pad_right col-lg-6 col-md-6 col-sm-6 col-xs-12 no-padding">
											<input type="email" class="form-control" name="data[Feedback][email]" value="" placeholder="Email Id *" data-bv-field="data[Feedback][email]">
											<small class="help-block" data-bv-validator="notEmpty" data-bv-for="data[Feedback][email]" data-bv-result="NOT_VALIDATED" style="display: none;">Email is required</small><small class="help-block" data-bv-validator="regexp" data-bv-for="data[Feedback][email]" data-bv-result="NOT_VALIDATED" style="display: none;">The value is not a valid email address</small><small class="help-block" data-bv-validator="emailAddress" data-bv-for="data[Feedback][email]" data-bv-result="NOT_VALIDATED" style="display: none;"></small>
										</div>
										<div class="form-group  form-group-phone  pad_left col-lg-6 col-md-6 col-sm-6 col-xs-12 no-padding">
											<input type="tel" class="form-control" name="data[Feedback][phone_no]" value="" placeholder="Phone Number *" data-bv-field="data[Feedback][phone_no]">
											<small class="help-block" data-bv-validator="notEmpty" data-bv-for="data[Feedback][phone_no]" data-bv-result="NOT_VALIDATED" style="display: none;">Mobile Number is required</small><small class="help-block" data-bv-validator="regexp" data-bv-for="data[Feedback][phone_no]" data-bv-result="NOT_VALIDATED" style="display: none;">The value is not a valid mobile number</small>
										</div>
										<div class="form-group form-group-query col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
											<textarea id="category_page_inquiry" class="form-control" name="data[Feedback][query]" placeholder="Let us know the skills or technology you are looking to learn and we will reach out, with the right course for you.*" data-bv-field="data[Feedback][query]"></textarea>
											<small class="help-block" data-bv-validator="notEmpty" data-bv-for="data[Feedback][query]" data-bv-result="NOT_VALIDATED" style="display: none;">The query is required and cannot be empty</small><small class="help-block" data-bv-validator="stringLength" data-bv-for="data[Feedback][query]" data-bv-result="NOT_VALIDATED" style="display: none;">The query must have 10 characters long</small>
										</div>
										<div class="form-groupbtn col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding requestmorebtnsec">
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-padding">
												<button type="submit" id="inquiry_submit" class="btn ">S U B M I T</button>
												<small class="thanksmsg-form-bot" id="thanksmsg-form-bot-cat" style="display: none;">Thanks for submitting your query</small>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
				</section>
				<input type="hidden" value="1" id="inlistIndex">

						<!-- footer -->
				<div class="mkl_footer">
					<div class="container">
						<!-- newsletter -->
						<div class="agile-newsletter">
							<p>Get the latest posts delivery directly to your inbox!</p>
							<form action="#" method="post">
								<i><input type="email" placeholder="Enter your E-mail" name="email" required=""></i>
								<input type="submit" value="Subscribe">
							</form>
						</div>
						<!-- //newsletter -->
						<!-- social icons -->
						<div class="footercopy-social">
							<ul>
								<li>
									<a href="#">
										<span class="fa fa-facebook"></span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="fa fa-twitter"></span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="fa fa-rss"></span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="fa fa-vk"></span>
									</a>
								</li>
							</ul>
						</div>
						<!-- //social icons -->
						<!-- address -->
						<div class="contact-left-footer">
							<ul>
								<li>
									<h4>
										<i class="fa fa-map-marker" aria-hidden="true"></i>4th Floor, Sigma Tech Park,<br> WhiteField, Bangalore.</h4>
								</li>
								<li>
									<h4>
										<i class="fa fa-phone" aria-hidden="true"></i>+91 - 80 6569 4492</h4>
								</li>
								<li>
									<h4>
										<i class="fa fa-envelope-o" aria-hidden="true"></i>
										<a href="mailto:info@example.com"> info@indiancareerzone.com</a>
									</h4>
								</li>
							</ul>
						</div>
						<!-- //address -->
						<!-- footer nav -->
						<!-- //footer nav -->
						<!-- copyright -->
						<div class="ff">
							<p>Copyright © 2014 - 2018 <b>Indian Career Zone</b>. All Rights Reserved.</p>
						</div>
						<!-- //copyright -->
						<div class="clearfix"></div>
					</div>
				</div>
					<!-- //footer -->


				<script src="./js/cache-autoload.js" type="text/javascript"></script>

				<script type="text/javascript" id="">
					!function(d,e,f,a,b,c){d.qp||(a=d.qp=function(){a.qp?a.qp.apply(a,arguments):a.queue.push(arguments)},a.queue=[],b=document.createElement(e),b.async=!0,b.src=f,c=document.getElementsByTagName(e)[0],c.parentNode.insertBefore(b,c))}(window,"script","https://a.quora.com/qevents.js");qp("init","8b619ff8f9184b808392b07003930c4b");qp("track","ViewContent");
				</script>


				<div id="fb-root" class=" fb_reset">
					<div style="position: absolute; top: -10000px; height: 0px; width: 0px;">
						<div></div>
					</div>
				</div>        
				<div id="load_conversion_code"></div>	
				
				<script type="text/javascript">
						function callAfterAutoload() {
									loadBanner("auto_banner_load", "1");
							}
						(function fireWhenLoadBannerReady() {
							if (typeof loadBanner != 'undefined') {
								setTimeout(callAfterAutoload, 100);
							} else {
								setTimeout(fireWhenLoadBannerReady, 100);
							}
						})();
							function init() {
							var imgDefer = document.getElementsByTagName('img');
							for (var i = 0; i < imgDefer.length; i++) {
								if (imgDefer[i].getAttribute('data-src')) {
									imgDefer[i].setAttribute('src', imgDefer[i].getAttribute('data-src'));
								}
							}
						}
						(function loadOrigImg() {
							var im = document.getElementsByTagName('img');
							for (var i = 0; i < im.length; i++) {
								if (im[i].getAttribute("orig-url")) {
									if (im[i].className.toString().indexOf('desktop-only') != '-1') {
										var style = window.getComputedStyle(im[i]);
										if (style.getPropertyValue('display') != 'none') {
											im[i].setAttribute('src', im[i].getAttribute('orig-url'));
										}
										continue;
									}
									im[i].setAttribute('src', im[i].getAttribute('orig-url'));
								}
							}
						})();
						window.onscroll = init;
					</script>
					
                    <div id="signup-form">
                
						<script type="text/javascript">
								var user_status = null;
						</script>
						<!-- scrolling script -->
						<script>
							jQuery(document).ready(function ($) {
								$(".scroll").click(function (event) {
									event.preventDefault();
									$('html,body').animate({
										scrollTop: $(this.hash).offset().top
									}, 1000);
								});
							});
						</script>
						<!-- //scrolling script -->

						<!-- Stars scrolling script -->
						<script src="js/SmoothScroll.min.js"></script>
						<script src="js/move-top.js"></script>
						<script src="js/easing.js"></script>
						<!-- here stars scrolling icon -->
						<script>
								$(document).ready(function () {
									/*
										var defaults = {
										containerID: 'toTop', // fading element id
										containerHoverID: 'toTopHover', // fading element hover id
										scrollSpeed: 1200,
										easingType: 'linear' 
										};
									*/

									$().UItoTop({
										easingType: 'easeOutQuart'
									});

								});
						</script>

						<style>

							.gc-reset{
								transform:scale(0.95) !important;
								-webkit-transform:scale(0.95) !important;
								transform-origin:0 0 !important;
								-webkit-transform-origin:0 0 !important;
							}
						</style>
    
					</div>
               
					<script type="text/javascript" id="">
						function getClientId(a){a=ga.getAll();var c;var b=0;for(c=a.length;b<c;b+=1)if("UA-108517196-1"===a[b].get("trackingId"))return a=a[b],b=a.get("clientId"),c=a.get("name"),ga(c+".send","event","GTM","10 Second",{dimension2:b,nonInteraction:1}),a,b}ga(getClientId);
					</script>
		</body>
		<a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 0;"></span>To Top</a>
	</html>